
	<link rel="stylesheet" type="text/css" href="/showtime/css/util.css">
	<link rel="stylesheet" type="text/css" href="/showtime/css/main.css">
	<style type="text/css">
		.anh
		{
			margin-right: 10px;
			width:200px;
			float:left;
			
		}
        
   
        .dropdown {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.06)) repeat scroll 0 0 #F2F2F2;
    border-color: #FFFFFF #F7F7F7 #F5F5F5;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    display: inline-block;
    height: 28px;
    overflow: hidden;
    position: relative;
    width: 150px;
}

.dropdown:before {
    border-bottom-style: solid;
    border-top: medium none;
}
.dropdown:after {
    border-bottom: medium none;
    border-top-style: solid;
    margin-top: 7px;
}
.dropdown-select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none;
    border-radius: 0;
    color: #62717A;
    font-size: 12px;
    height: 28px;
    line-height: 14px;
    margin: 0;
    padding: 6px 8px 6px 10px;
    position: relative;
    text-shadow: 0 1px #FFFFFF;
    width: 130%;
}
.dropdown-select:focus {
    color: #394349;
    outline: 2px solid #49AFF2;
    outline-offset: -2px;
    width: 100%;
    z-index: 3;
}


.wrapper {
            margin: 20% auto;
            width: 60%;
        }
        
        #displayImg {
            margin-top: 30px;
        }
        
        #displayImg img {
            height: 50px;
            margin-right: 15px;
            display: inline-block;
        }


	</style>
    <div class="container-contact100">
        
		<div class="wrap-contact100">
            <button style="height: 30px; width: 30px; margin-left: 0.2cm; margin-top: 0.2cm;" type="button" onclick="window.location.href='/showtime'">X</button>
                 <center>
				<span class="contact100-form-title" style="color: #000022; font-weight: bold;font-size:45px">
					Đăng ký Suất Chiếu
				</span>
                </center>

			<form action="/showtime/add"  class="contact100-form validate-form" method="POST" > 
                <label for="movie" class="form-label">Movie</label>
				<div style="height: 30px;width: 300px" class="dropdown dropdown">
                    
                    <select id="movie" name="MovieId" class="dropdown-select">
                      <% movies.forEach(function(movie) { %>
                        <option value="<%- movie.id %>"><%- movie.Name %></option>
                        <%})%>
                    </select>
             	</div>
<br />
<label for="theater" class="form-label">Theater</label>
				<div style="height: 30px;width: 300px" class="dropdown dropdown">
                   
                    <select id="theater" name="TheaterId" class="dropdown-select">
                      <% theaters.forEach(function(theater) { %>
                        <option value="<%- theater.id %>"><%- theater.Name %>,<%- theater.Cinema.Name%></option>
                        <%})%>
                    </select>
             	</div>
				 <br /> <br />
				 <br />
				 <div class="wrap-input100 ">
					<span class="label-input100">Time Begin</span>
					<input type="time" name="timebegin" required>
				 </div>

				 
                 <div class="wrap-input100 ">
                    <label for="input_starttime">Date Show</label>
                    <input  type="date" id="input_starttime" name="dateshow" required >
                 </div>
                 <label for="price">Price</label>
                 <div class="wrap-input100 ">
                    <input  type="number" id="price" name="price" required>
                 </div>
                 <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                    <input class="form-check-input" type="checkbox" value="true" name="check" id="flexCheckDefault" <%- check === 'true' ? 'checked' : '' %>>
                    <label class="form-check-label" for="flexCheckDefault">
                      Check to continue add showtime
                    </label>
            </div>
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            Submit
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    
    

