<button style="height: 50px; width: 50px;" type="button" class="btn-close" aria-label="Close" onclick="window.location.href='/GUB/admin'"></button>
    <div class="container-contact100">
		<div class="wrap-contact100">
                 <center>
				<span class="contact100-form-title" style="color: #000022; font-weight: bold;font-size:45px">
					ShowTime
				</span>
                </center>

				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">ShowTime
						<a href="/showtime/add" class="btn btn-success btn-circle pull-left">
							<i>+</i>
						</a>
					</h1>
				
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
									<tr>
										<th>Movie</th>
										<th>Theater</th>
										<th>Time Begin</th>
										<th>Time Finish</th>
										<th>Date Show</th>
								
										<th>Delete</th>
									</tr>
									</thead>
									<tfoot>
									<tr>
										<th>Movie</th>
										<th>Theater</th>
										<th>Time Begin</th>
										<th>Time Finish</th>
										<th>Date Show</th>
								
										<th>Delete</th>
										
									</tr>
				
									</tfoot>
									<tbody>
										<% showtimes.forEach(function(showtime) { %>
										<%	if(showtime.MovieId && showtime.TheaterId){ %>
									<tr>
										<td><%- showtime.Movie.Name %></td>
              							<td><%- showtime.TimeBegin %></td>
              							<td><%- showtime.TimeFinish %></td>
              							<td><%- showtime.Theater.Name %></td>
              							<td><%- showtime.Price %></td>
										<td>
											<form method="GET" action="/showtime/delete/<%- showtime.id %>">
												<button type="submit" class="btn btn-danger btn-circle btn-sm"><i
															class="fas fa-trash"></i>
												</button>
											</form>
										</td>
										

									</tr>
								<% }})  %>
								
									</tbody>
								</table>
							</div>
						</div>
					</div>
				
				</div>
	
				
				</div>
    </div>

    
    

