<div class="user-details" style="opacity: 1;">
    <div class="user-center">
        <div class="user-info">
            <h2>Thông tin tài khoản</h2>
            <ul>
               
                <li>
                    <div class="col-title">Họ tên:</div>
                    <div class="col-value"><%- currentUser.Name %></div>
                </li>
                <li>
                    <div class="col-title">Điện thoại:</div>
                    <div class="col-value"><%- currentUser.Tel %></div>
                </li>
                <li>
                    <div class="col-title">Email:</div>
                    <div class="col-value"><%- currentUser.Email %></div>
                </li>
            </ul>
        </div>

        <div class="user-history">
            <h2>Hoạt động với GUBCinema</h2>
            <table>

                <tbody>
                    <tr>
                        <td>Date Show</td>
                      
                        <td>Cinema</td>
                        <td>Movie</td>
                        <td>Room</td>
                        <td>Seat</td>
                        <td>Time Begin</td>
                        <td>Price</td>
                    </tr>
                    <% historys.Bookings.forEach(function(history) { %>
                        <% history.Tickets.forEach(function(ticket) { %>
                    <tr>
                        <td><%- history.ShowTime.DateShow %></td>
                        <td><%- history.ShowTime.Theater.Cinema.Name %></td>
                        <td><%- history.ShowTime.Movie.Name %></td>
                        <td><%- history.ShowTime.Theater.Name %></td>
                        <td><%- ticket.RegalSeat %></td>
                        <td><%- history.ShowTime.TimeBegin %></td>
                        <td><%- history.ShowTime.Price %></td>
                    </tr>
                    <% })%>
                    <% })%>
                </tbody>
            </table>
            
        </div>
    </div>
</div>