<!--CONTENT-PAGE-->
<div class="content-page">
    <div class="about-section">
        <div class="about-top">
            <div class="section-title">
                <h2>Giới thiệu</h2>
            </div>
        </div>
        <!--ABOUT-INTRO-->

        <div class="intro-wrap" style="padding: 30px;">
            <div class="intro-item">
                <div class="intro-pic">
                    <img src="/pictures/moi/5GioiThieu/1HeThong/1Cinestar/rap.jpg" alt="Cinestar Quốc Thanh" />
                </div>
                <div class="intro-txt">
                    <h3>GUBCinema</h3>
                    <p>
                        <p><span style="font-size:24px;"><span style="font-family:arial,helvetica,sans-serif;">Đồ án cuối kỳ:&nbsp;<span style="text-align: center;">Lập trình web 2</span></span>
                            </span>
                        </p>

                        <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">18600054 - Võ Thị Phương Dung</span></span>
                        </p>

                        <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">18600057 - Bùi Bảo Duy</span></span>
                        </p>

                        <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">18600215 - Âu Hỷ Phương</span></span>
                        </p>

                        <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">18600325 - Nguyễn Thị Yến Vy</span></span>
                        </p>
                </div>
            </div>
        </div>

        <div class="intro-note">
            <p class="welcom">Hãy đến GUBCinema để cảm nhận điện ảnh đích thực</p>
        </div>
        <div class="section-title">
            <h2>Một số hình ảnh của rạp</h2>
        </div>
        <!--CINEMA-IMAGE-->
        <div class="cinema-img-wrap">
            <div class="cinema-img-slide">
                <div class="cinema-img-item">
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/webimages/6GioiThieu/website-csv-2.jpg" alt="pic" />
                    </div>
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/webimages/6GioiThieu/csv-2.jpg" alt="pic" />
                    </div>
                </div>
                <div class="cinema-img-item">
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/webimages/6GioiThieu/csv-3.jpg" alt="pic" />
                    </div>
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/webimages/6GioiThieu/csv-4.jpg" alt="pic" />
                    </div>
                </div>
                <div class="cinema-img-item">
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/webimages/6GioiThieu/avatar-web.jpg" alt="pic" />
                    </div>
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/webimages/6GioiThieu/hinh-anh-hue-2.jpg" alt="pic" />
                    </div>
                </div>
                <div class="cinema-img-item">
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/webimages/6GioiThieu/hinh-anh-hue.jpg" alt="pic" />
                    </div>
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/moi/5GioiThieu/1HeThong/sanh400x267.jpg" alt="pic" />
                    </div>
                </div>
                <div class="cinema-img-item">
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/moi/5GioiThieu/1HeThong/pc4400z267.jpg" alt="pic" />
                    </div>
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/moi/5GioiThieu/1HeThong/pc3400x267.jpg" alt="pic" />
                    </div>
                </div>
                <div class="cinema-img-item">
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/moi/5GioiThieu/1HeThong/pc1400x267.jpg" alt="pic" />
                    </div>
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/moi/5GioiThieu/1HeThong/co400x267.jpg" alt="pic" />
                    </div>
                </div>
                <div class="cinema-img-item">
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/moi/5GioiThieu/1HeThong/coffee400x267.jpg" alt="pic" />
                    </div>
                    <div class="cinema-pic">
                        <a class="zoom" href="javascript:void(0);"></a>
                        <img class="lazyload" data-src="/pictures/moi/5GioiThieu/1HeThong/sanh3400x267.jpg" alt="pic" />
                    </div>
                </div>

            </div>
            <!--CINEMA-IMAGE-->
        </div>
        <!--ABOUT-INTRO-->
    </div>

    <!--PLAYING-MOVIE-->
    <div class="section-title">
        <h2>NOW PLAYING</h2>
    </div>
    <div class="movie-content on-page">
        <div class="movie-wrap">
            <div class="movie-slide">
                <% nowplayings.forEach(function(nowplaying) { %>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="/GUB/movie/picture/<%- nowplaying.id %>" alt="<%- nowplaying.Name %>" /></div>
                    <div class="movie-txt">
                        <h3><%- nowplaying.Name %></h3>
                    </div>
                    <div class="movie-over">
                        <a href="/GUB/movies/<%- nowplaying.id %>">
                            <p><%- nowplaying.Decription %></p>
                            <span class="atc" style="display: block;">...</span>
                                <span class="detail-link">See more</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="/GUB/trailer?code=<%-nowplaying.Trailer %>" >Trailer</a>
                        <a class="cart-btn fontsize13" href="/GUB/datve/<%- nowplaying.id %>/<%-cinemas[0] ? cinemas[0].id : '#' %>/2021-05-24 ">Mua vé</a>
                    </div>
                </div>
                <% }) %>

            </div>
        </div>
    </div>
    <!--PLAYING-MOVIE-->

</div>
<!--CONTENT-PAGE-->