<!--CONTENT-PAGE-->
<div class="content-page">
    <div class="nav-icon-content">
        <div class="nav-icon-wrap">
            <ul>
                <li>
                    <a href="javscript:void(0);" data-name="1"><img src="/pictures/moi/8DinhDang/dolby.png" alt="DOBLY ATMOS - CÔNG NGHỆ ÂM THANH MỚI MANG TÍNH ĐỘT PHÁ" /></a>
                </li>
                <li>
                    <a href="javscript:void(0);" data-name="2"><img src="/pictures/moi/8DinhDang/christie.png" alt="Máy chiếu CHRISTIE" /></a>
                </li>
                <li>
                    <a href="javscript:void(0);" data-name="3"><img src="/pictures/moi/8DinhDang/2d.png" alt="Công nghệ chiếu phim 2D Digital" /></a>
                </li>
                <li>
                    <a href="javscript:void(0);" data-name="4"><img src="/pictures/moi/8DinhDang/3d3.png" alt="Công nghệ chiếu phim 3D Digital" /></a>
                </li>
            </ul>
        </div>
    </div>

    <!--movie-->
    <!--PLAYING-MOVIE-->
    <div class="section-title">
        <h2>NOW PLAYING</h2>
    </div>
    <div class="movie-content on-page">
        <div class="movie-wrap">
            <div class="movie-slide">
                <% nowplayings.forEach(function(nowplaying) { %>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="/GUB/movie/picture/<%- nowplaying.id %>" alt="<%- nowplaying.Name %>" /></div>
                    <div class="movie-txt">
                        <h3><%- nowplaying.Name %></h3>
                    </div>
                    <div class="movie-over">
                        <a href="/GUB/movies/<%- nowplaying.id %>">
                            <p><%- nowplaying.Decription %></p><span class="atc" style="display: block;">...</span>
                            <span class="detail-link">See more</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="/GUB/trailer?code=<%-nowplaying.Trailer %>" >Trailer</a>
                        <a class="cart-btn fontsize13" href="/GUB/datve/<%- nowplaying.id %>/<%-cinemas[0] ? cinemas[0].id : '#' %>/2021-05-24 ">Mua vé</a>
                    </div>
                </div>
                <% }) %>

            </div>
        </div>
    </div>
    <!--PLAYING-MOVIE-->
    <div class="section-title">
        <h2>HOT</h2>
    </div>
    <div class="movie-content on-page">
        <div class="movie-wrap">
            <div class="movie-slide">
                <% hots.forEach(function(hot) { %>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="/GUB/movie/picture/<%- hot.id %>" alt="<%- hot.Name %>" /></div>
                    <div class="movie-txt">
                        <h3><%- hot.Name %></h3>
                    </div>
                    <div class="movie-over">
                        <a href="/GUB/movies/<%- hot.id %>">
                            <p><%- hot.Decription %></p>
                            <span class="atc" style="display: block;">...</span>
                                <span class="detail-link">See more</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="/GUB/trailer?code=<%-hot.Trailer %>" >Trailer</a>
                        <a class="cart-btn fontsize13" href="/GUB/datve/<%- hot.id %>/<%-cinemas[0] ? cinemas[0].id : '#' %>/2021-05-24 ">Mua vé</a>
                    </div>
                </div>
                <% }) %>

            </div>
        </div>
    </div>
    <!--PLAYING-MOVIE-->
    <div class="section-title">
        <h2>COMING SOON</h2>
    </div>
    <div class="movie-content on-page">
        <div class="movie-wrap">
            <div class="movie-slide">
                <% comingsoons.forEach(function(comingsoon) { %>
                <div class="movie-item n_2d">
                    <div class="movie-pic"><img class="lazyload" data-src="/GUB/movie/picture/<%- comingsoon.id %>" alt="<%- comingsoon.Name %>" /></div>
                    <div class="movie-txt">
                        <h3><%- comingsoon.Name %></h3>
                    </div>
                    <div class="movie-over">
                        <a href="/GUB/movies/<%- comingsoon.id %>">
                            <p><%- comingsoon.Decription %></p>
                            <span class="atc" style="display: block;">...</span>
                                <span class="detail-link">See more</span>
                        </a>
                        <a class="trailler-btn fontsize13" href="/GUB/trailer?code=<%-comingsoon.Trailer %>" >Trailer</a>
                        <a class="cart-btn fontsize13" href="/GUB/datve/<%- comingsoon.id %>/<%-cinemas[0] ? cinemas[0].id : '#' %>/2021-05-24 ">Mua vé</a>
                    </div>
                </div>
                <% }) %>

            </div>
        </div>
    </div>
    <!--PROMOTION-SECTION-->
    <div class="promotion-content">
        <div class="promotion-wrap">
            <div class="promotion-title">
                <h2>Ưu đãi</h2>
            </div>

            <div class="promotion-slide">
                <div class="promotion-item">
                    <a href="khuyenmai/c-monday">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="/pictures/c_monday.jpg" align="C'MONDAY - ƯU ĐÃI THỨ 2" />
                        </div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/combobigstaruudaithuba">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="/pictures/big-star-_-trang-chủ-web.jpg" align="COMBO BIG STAR - ƯU ĐÃI THỨ BA " />
                        </div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-member">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="/pictures/hinhnenCTKM/c'member.jpg" align="C'member - ngày hội thành viên" />
                        </div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-student">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="/pictures/hinhnenCTKM/hssv.jpg" align="TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG" />
                        </div>
                    </a>
                </div>

                <div class="promotion-item">
                    <a href="khuyenmai/c-ten">
                        <div class="promotion-pic">
                            <img class="lazyload" data-src="/pictures/c_ten.jpg" align="C'Ten - Khuyến mãi tại mốc 10H" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--PROMOTION-SECTION-->
</div>
<!--CONTENT-PAGE-->