<!--CONTENT-PAGE-->
<div class="content-page">
    <!--MOVIE-TAB-->
    
    <div class="tab-movie">
        <div class="" data-open="sepcial">
            <div class="col-inr">
                <% hots.forEach(function(hot) { %>
                
                <div class="film-item cl-ppl t-2d">
                    <a href="/GUB/movies/<%- hot.id %>">
                        <div class="film-item-pic">
                            <img src="/GUB/movie/picture/<%- hot.id %>" alt="THIÊN THẦN HỘ MỆNH (C18)" />
                        </div>
                        <div class="film-item-txt">
                            <h3><%- hot.Name %></h3>
                            <p>
                                <%- hot.Decription %>
                            </p>
                            <p>Khởi chiếu: Từ <%- hot.ReleaseDate %></p>
                        </div>
                    </a>
                    <div class="film-item-type">
                        <span class="icon-2d"></span>
                        <span class="icon-am3d"></span>
                       <span class="icon-3d"></span> 
                    </div>
                    <div class="film-item-but">
                        <a class="trailler-btn fontsize13" href="/GUB/trailer?code=<%-hot.Trailer %>" >Trailer</a>
                        <a class="cart-btn fontsize13" href="/GUB/datve/<%- hot.id %>/<%-cinemas[0] ? cinemas[0].id : '#' %>/2021-05-20 ">Mua vé</a>
                    </div>
                </div>
              
                <%})%>
            </div>
        </div>
    </div>
    <!--MOVIE-TAB-->
</div>
<!--CONTENT-PAGE-->