<!--CONTENT-PAGE-->
<div class="content-page">
    <!--PROMOTION-LIST-->
    <div class="promotion-list-content">
        <div class="section-title">
            <h2>Các Ưu đãi</h2>
        </div>
        <div class="promotion-list-wrap">
            <div class="promotion-block" data-target="4">
                <div class="promotion-block-pic">
                    <a class="zoom skew" href="javascript:void(0)">zoom</a>
                    <img src="/pictures/c_monday.jpg" alt="pic" />
                </div>
                <div class="promotion-block-txt">
                    <h3>C'MONDAY - ƯU ĐÃI THỨ 2</h3>
                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- </span></span><span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">Giá vé ưu đãi: 45.000 đ/vé 2D và&nbsp;55.000 đ/vé 3D.</span></p>

                    <p><span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">- Thời gian:&nbsp;</span><span style="font-family: arial, helvetica, sans-serif; font-size: 16px;">Áp dụng cho tất cả các suất chiếu ngày </span><strong style="font-family: arial, helvetica, sans-serif; font-size: 16px;">Thứ Hai</strong>
                        <span style="font-family: arial, helvetica, sans-serif; font-size: 16px;"> hàng tuần.</span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- Lưu ý: Không áp dụng cho các ngày lễ/tết.</span></span>
                    </p>

                    <p>&nbsp;</p>
                </div>
                <ul class="l-social">
                    <li>Chia sẻ</li>
                    <li class="l-facebook"><a href="http://www.facebook.com/sharer/sharer.php?u=khuyenmai/c-monday" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;">Facebook</a></li>
                    <li class="l-google"><a href="https://plus.google.com/share?url=khuyenmai/c-monday" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;">Google</a></li>
                </ul>
            </div>
            <div class="promotion-block" data-target="42">
                <div class="promotion-block-pic">
                    <a class="zoom skew" href="javascript:void(0)">zoom</a>
                    <img src="/pictures/big-star-_-trang-chủ-web.jpg" alt="pic" />
                </div>
                <div class="promotion-block-txt">
                    <h3>COMBO BIG STAR - ƯU ĐÃI THỨ BA </h3>
                    <p>Combo BIG STAR ưu đãi vào ngày thứ Ba hàng tuần,&nbsp;bao gồm: 1 vé xem phim, 1 ly nước 22oz, 1 bắp 44oz</p>

                    <p>Giá combo áp dụng:&nbsp;</p>

                    <p>- Tại Cinestar Sinh Viên, Mỹ Tho và&nbsp;Huế: 79,000đ&nbsp;</p>

                    <p>- Tại Cinestar Hai Bà Trưng, Quốc Thanh và Đà Lạt: 99,000đ&nbsp;</p>

                    <p>Điều kiện:&nbsp;</p>

                    <p>- Không áp dụng đồng thời với các chương trình khuyến mãi&nbsp;khác.</p>

                    <p>- Chỉ áp dụng khi mua trực tiếp tại quầy.</p>
                </div>
                <ul class="l-social">
                    <li>Chia sẻ</li>
                    <li class="l-facebook"><a href="http://www.facebook.com/sharer/sharer.php?u=khuyenmai/combobigstaruudaithuba" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;">Facebook</a></li>
                    <li class="l-google"><a href="https://plus.google.com/share?url=khuyenmai/combobigstaruudaithuba" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;">Google</a></li>
                </ul>
            </div>
            <div class="promotion-block" data-target="10">
                <div class="promotion-block-pic">
                    <a class="zoom skew" href="javascript:void(0)">zoom</a>
                    <img src="/pictures/hinhnenCTKM/c'member.jpg" alt="pic" />
                </div>
                <div class="promotion-block-txt">
                    <h3>C'member - ngày hội thành viên</h3>
                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Thành Viên Cinestar được áp dụng giá vé ưu đãi, hạng thẻ C’FRIEND và C’VIP.</span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;"><u>Thời gian:</u> <strong>Thứ Tư</strong> hàng tuần</span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- Giá vé: 45,000 đ/vé 2D và&nbsp; 55,000 đ/ vé 3D</span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- Giảm 10% giá trị hóa đơn bắp nước cho chủ thẻ C’FRIEND và 15% cho chủ thẻ C’VIP.</span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- Chương trình tích điểm thành viên và các điều kiện thành viên khác được áp dụng.</span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Lưu ý: </span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- Chỉ áp dụng mua trực tiếp tại quầy.</span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- Chương trình không giới hạn số vé và số lần giao dịch trong thời gian diễn ra.</span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- Không áp dụng cho các ngày lễ/tết.</span></span>
                    </p>

                    <p>&nbsp;</p>
                </div>
                <ul class="l-social">
                    <li>Chia sẻ</li>
                    <li class="l-facebook"><a href="http://www.facebook.com/sharer/sharer.php?u=khuyenmai/c-member" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;">Facebook</a></li>
                    <li class="l-google"><a href="https://plus.google.com/share?url=khuyenmai/c-member" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;">Google</a></li>
                </ul>
            </div>
            <div class="promotion-block" data-target="6">
                <div class="promotion-block-pic">
                    <a class="zoom skew" href="javascript:void(0)">zoom</a>
                    <img src="/pictures/hinhnenCTKM/hssv.jpg" alt="pic" />
                </div>
                <div class="promotion-block-txt">
                    <h3>TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG</h3>
                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">ÁP DỤNG MỨC GIÁ 45K / VÉ 2D&nbsp;- CẢ TUẦN - TOÀN HỆ THỐNG</span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">✔️ KHÔNG đắn đo về giá vé<br style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px;" />
✔️ KHÔNG nhức đầu nghĩ điểm hẹn cuối tuần<br style="color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px;" />
✔️ KHÔNG cần miệt mài lựa chọn phim</span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Áp dụng dành cho giáo viên, giảng viên,&nbsp;học sinh, sinh viên và&nbsp;thanh niên dưới 22 tuổi<strong>, trên toàn hệ thống.</strong></span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">Ưu đãi giá vé xem phim chỉ <strong>45,000đ/vé 2D.</strong></span></span>
                    </p>

                    <p>
                        <font face="arial, helvetica, sans-serif"><span style="font-size: 16px;">LƯU Ý:</span></font>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- Vui lòng mua TRỰC TIẾP TẠI RẠP và&nbsp;xuất trình thẻ HSSV-GV&nbsp;hoặc CMND có dán ảnh và còn hiệu lực khi mua vé.</span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- Mỗi thẻ mua được một vé.</span></span>
                    </p>

                    <p><span style="font-size:16px;"><span style="font-family:arial,helvetica,sans-serif;">- Không áp dụng cho các ngày Lễ, Tết, hoặc suất chiếu có phụ thu từ nhà phát hành phim.</span></span>
                    </p>

                    <p>&nbsp;</p>
                </div>
                <ul class="l-social">
                    <li>Chia sẻ</li>
                    <li class="l-facebook"><a href="http://www.facebook.com/sharer/sharer.php?u=khuyenmai/c-student" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;">Facebook</a></li>
                    <li class="l-google"><a href="https://plus.google.com/share?url=khuyenmai/c-student" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;">Google</a></li>
                </ul>
            </div>
            <div class="promotion-block" data-target="12">
                <div class="promotion-block-pic">
                    <a class="zoom skew" href="javascript:void(0)">zoom</a>
                    <img src="/pictures/c_ten.jpg" alt="pic" />
                </div>
                <div class="promotion-block-txt">
                    <h3>C'Ten - Khuyến mãi tại mốc 10H</h3>
                    <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">- Áp dụng cho mỗi vé xem phim vào các suất trước 10h và sau 22h hàng ngày.</span></span>
                    </p>

                    <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:16px;">- Mua vé giá ưu đãi: 45.000 đ / vé 2D, 55.000 đ / vé 3D.</span></span>
                    </p>

                    <p>Lưu ý: Chương trình không áp dụng cho ngày lễ/tết.</p>
                </div>
                <ul class="l-social">
                    <li>Chia sẻ</li>
                    <li class="l-facebook"><a href="http://www.facebook.com/sharer/sharer.php?u=khuyenmai/c-ten" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;">Facebook</a></li>
                    <li class="l-google"><a href="https://plus.google.com/share?url=khuyenmai/c-ten" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;">Google</a></li>
                </ul>
            </div>

        </div>
        <div class="bg-cover" style="background-image:url(/pictures/2_khuyen%20mai/3_back%20ground/bg-promotion-100x100-100x100-100x100.jpg);"></div>
    </div>
    <!--PROMOTION-LIST-->

    <!--PLAYING-MOVIE-->
    <div class="movie-content on-page">
        <div class="section-title">
            <h2>NOW PLAYING</h2>
        </div>
        <div class="movie-content on-page">
            <div class="movie-wrap">
                <div class="movie-slide">
                    <% nowplayings.forEach(function(nowplaying) { %>
                    <div class="movie-item n_2d">
                        <div class="movie-pic"><img class="lazyload" data-src="/GUB/movie/picture/<%- nowplaying.id %>" alt="<%- nowplaying.Name %>" /></div>
                        <div class="movie-txt">
                            <h3><%- nowplaying.Name %></h3>
                        </div>
                        <div class="movie-over">
                            <a href="/GUB/movies/<%- nowplaying.id %>">
                                <p><%- nowplaying.Decription %></p>
                                <span class="atc" style="display: block;">...</span>
                                <span class="detail-link">See more</span>
                            </a>
                          
                            <a class="cart-btn fontsize13" href="lichchieu/0c8b1b99-7b33-43d0-aeaa-9c54e19cf2c7">Mua vé</a>
                        </div>
                    </div>
                    <% }) %>
    
                </div>
            </div>
        </div>
    </div>

    <!--PLAYING-MOVIE-->


</div>
<!--CONTENT-PAGE-->