
<button style="height: 50px; width: 50px;" type="button" class="btn-close" aria-label="Close" onclick="window.location.href='/GUB/admin'"></button>
    <div class="container-contact100">
		<div class="wrap-contact100">
                 <center>
				<span class="contact100-form-title" style="color: #000022; font-weight: bold;font-size:45px">
					List of Movie
				</span>
                </center>

				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Movie
						<a href="/movie/add" class="btn btn-success btn-circle pull-left">
							<i>+</i>
						</a>
					</h1>
				
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="table-responsive table-hover">
								<table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
									<thead>
									<tr style="text-align: center; vertical-align: middle;" >
										<th>ID</th>
										<th>Poster</th>
										<th>Name</th>
										<th>Actors</th>
										<th>Directors</th>
										<th>Release Date</th>
										<th>Time</th>
										<th>Category</th>
										<th>Trailer</th>
										<th>Del</th>
										
									</tr>
									</thead>
									
									<tbody>
										<% movies.forEach(function(movie) { %>
									<tr style="text-align: center; vertical-align: middle;" >
										<td><%- movie.id %></td>
										<td>
											<img src="/movie/picture/<%- movie.id %>"  style="width:100px;height:150px;display: block; margin-left: auto; margin-right: auto"/>
										</td>
										<td onclick="window.location.href='/movie/update/<%- movie.id %>'"><%- movie.Name %></td>
										<td onclick="window.location.href='/movie/update/<%- movie.id %>'"><%- movie.Actors %></td>
										<td onclick="window.location.href='/movie/update/<%- movie.id %>'"><%- movie.Directors %></td>
										<td onclick="window.location.href='/movie/update/<%- movie.id %>'"><%- movie.ReleaseDate %></td>
										<td onclick="window.location.href='/movie/update/<%- movie.id %>'"><%- movie.Time %></td>
										<td onclick="window.location.href='/movie/update/<%- movie.id %>'"><%- movie.Category %></td>
										<td>
											<iframe src="https://www.youtube.com/embed/<%-movie.Trailer%>" style="width:200px;height:150px;display: block; margin-left: auto; margin-right: auto" id="youtube" ></iframe>
										</td>
										<td>
											
												<button  onclick="window.location.href='/movie/delete/<%- movie.id %>'" type="submit" class="btn btn-danger btn-circle btn-sm">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
													<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
												  </svg>
												</button>
											
										</td>
										

									</tr>
								<% }) %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				
				</div>
	
				
				</div>
    </div>

    
    
</body>
