
    <div class="container-contact100">
		<div class="wrap-contact100">
                 <center>
				<span class="contact100-form-title" style="color: #000022; font-weight: bold;font-size:45px">
					List of Movie
				</span>
                </center>

				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Movie
						<a href="/movie/add" class="btn btn-success btn-circle pull-left">
							<i>+</i>
						</a>
					</h1>
				
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Release Date</th>
										<th>Time</th>
										<th>Category</th>
										<th>Update</th>
										<th>Delete</th>
										
									</tr>
									</thead>
									<tfoot>
									<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Release Date</th>
										<th>Time</th>
										<th>Category</th>
										<th>Update</th>
										<th>Delete</th>
										
									</tr>
				
									</tfoot>
									<tbody>
										<% movies.forEach(function(movie) { %>
									<tr>
										<td><%- movie.id %></td>
										<td><%- movie.Name %></td>
										<td><%- movie.ReleaseDate %></td>
										<td><%- movie.Time %></td>
										<td><%- movie.Category %></td>
										
										<td>
											<form method="GET" action="/movie/update/<%- movie.id %>">
												<button type="submit" class="btn btn-primary btn-circle btn-sm"><i
															class="fas fa-trash"></i>
												</button>
											</form>
										</td>
										<td>
											<form method="GET" action="/movie/delete/<%- movie.id %>">
												<button type="submit" class="btn btn-danger btn-circle btn-sm"><i
															class="fas fa-trash"></i>
												</button>
											</form>
										</td>
										

									</tr>
								<% }) %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				
				</div>
	
				
				</div>
    </div>

    
    
</body>
