
	<link rel="stylesheet" type="text/css" href="/movie/css/util.css">
	<link rel="stylesheet" type="text/css" href="/movie/css/main.css">
    <div class="container-contact100">
		<div class="wrap-contact100">
			<button style="height: 30px; width: 30px; margin-left: 0.2cm; margin-top: 0.2cm;" type="button" onclick="window.location.href='/movie'">X</button>
                 <center>
				<span class="contact100-form-title" style="color: #000022; font-weight: bold;font-size:45px">
					Update Movie
				</span>
                </center>

			<form action="/movie/update/<%- movie.id %>"  class="contact100-form validate-form" method="POST" enctype="multipart/form-data"> 

				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Name</span>
					<input class="input100" type="text" name="name" placeholder="<%- movie.Name %>">
				</div>
                <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
                <p>Release Date: <%- movie.ReleaseDate %></p>
                </div>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Release Date</span>
					<input class="input100" type="date" name="releasedate" />
				</div>

				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Time</span>
					<input class="input100" type="number" name="time" placeholder="<%- movie.Time  %>"/>
				</div>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Decription</span>
					<textarea class="input100" name="decription" ><%- movie.Decription %></textarea>
				</div>
				<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<label for="category" class="form-label">Category</label>
					<div style="height: 30px;width: 300px" class="dropdown dropdown">
					   
						<select id="category" name="category" class="dropdown-select">
							<option value="nowplaying" <%- movie.Category === 'nowplaying' ? 'selected' : '' %>>Now Playing</option>
							<option value="comingsoon" <%- movie.Category === 'comingsoon' ? 'selected' : '' %>>Comming Soon</option>
							<option value="hot" <%- movie.Category === 'hot' ? 'selected' : '' %>>Hot</option>
						</select>
					 </div>
				</div>
				<div class="wrap-input validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Poster</span>
								<img src="/movie/picture/<%- movie.id %>"  style="width:200px;height:200px;display: block; margin-left: auto; margin-right: auto" id="output" />
					
					
						<input type="file" class="form-control-file" name="poster" accept="image/*"
							onchange="loadFile(event)" >
		  
						<script>
							
						var loadFile = function(event) 
						{
							var output = document.getElementById('output');
							output.src = URL.createObjectURL(event.target.files[0]);
							output.onload = function() {
								URL.revokeObjectURL(output.src) // free memory
							}
						};
						</script>
						<br />
				
				
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            Submit
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    
    
</body>
