

	<link rel="stylesheet" type="text/css" href="/theater/css/util.css">
	<link rel="stylesheet" type="text/css" href="/theater/css/main.css">
   <style>
	
	
	
	.wrapper {
				margin: 20% auto;
				width: 60%;
			}
			
			#displayImg {
				margin-top: 30px;
			}
			</style>

	<div class="container-contact100">
		
		<div class="wrap-contact100">
			<button style="height: 30px; width: 30px; margin-left: 0.2cm; margin-top: 0.2cm;" type="button" onclick="window.location.href='/theater'">X</button>
                 <center>
				<span class="contact100-form-title" style="color: #000022; font-weight: bold;font-size:45px">
					 Add Theater
				</span>
                </center>

			<form action="/theater/add"  class="contact100-form validate-form" method="POST" > 
                
            

				<div style="height: 30px;width: 300px" class="dropdown dropdown">
                    <select  name="CinemaId" class="dropdown-select">
						<% cinemas.forEach(function(cinema) { %>
							<option value="<%- cinema.id %>"><%- cinema.Name %></option>
							<%})%>
                    </select>
             	</div>
				 
				 <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Name</span>
					<input class="input100" type="text" name="name" placeholder="Vui lòng nhập tên rạp phim" required>
				</div>

				<div class="mb-3"><label for="height" class="form-label">Height(A to Z)</label>
					<select class="form-select" aria-label="Default select example" id="height" name="height">
						<% for(var i = 69 ; i <= 80 ; i++) { %>
						<option value="<%- String.fromCharCode(i) %>"><%- String.fromCharCode(i) %></option>
						<%}%>
					  </select></div>
					
					  <div class="mb-3"><label for="height" class="form-label">Width(10 to 16)</label>
					<select class="form-select" aria-label="Default select example" name="width">
						<% for(var j = 10 ; j <= 16 ; j++) { %>
						<option value="<%- j %>"><%- j %></option>
						<%}%>
					</select></div>

						<div class="mb-3">
							<label for="category" class="form-label">category</label>
						  <select class="form-select" aria-label="Default select example" id="category" name="category">
							  <option value="2D">2D</option>
							  <option value="3D">3D</option>
							  <option value="4DX">4DX</option>
							</select>     
							</div>
						</br>
						<div class="wrap-input100 validate-input bg0 rs1-alert-validate">
								<input class="form-check-input" type="checkbox" value="true" name="check" id="flexCheckDefault" <%- check === 'true' ? 'checked' : '' %>>
								<label class="form-check-label" for="flexCheckDefault">
								  Check to continue add theater
								</label>
						</div>
	
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            Submit
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    
    

