
    <div class="container-contact100">
		<div class="wrap-contact100">
                 <center>
				<span class="contact100-form-title" style="color: #000022; font-weight: bold;font-size:45px">
					List of Theater
				</span>
                </center>

				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">THEATER
						<a href="/theater/add" class="btn btn-success btn-circle pull-left">
							<i>+</i>
						</a>
					</h1>
				
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
									<tr>
										<th>ID</th>
										<th>NAME</th>
										<th>CINEMA</th>
										<th>CATEGORY</th>
										<th>WIDTH</th>
										<th>HEIGHT</th>
										<th>UPDATE</th>
										<th>DELETE</th>
										
									</tr>
									</thead>
									<tfoot>
									<tr>
										<th>ID</th>
										<th>NAME</th>
										<th>CINEMA</th>
										<th>CATEGORY</th>
										<th>WIDTH</th>
										<th>HEIGHT</th>
										<th>UPDATE</th>
										<th>DELETE</th>
										
									</tr>
				
									</tfoot>
									<tbody>
										<% theaters.forEach(function(theater) { %>
                      <% if(theater.CinemaId){ %>
									<tr>
										<td><%- theater.id %></td>
										<td><%- theater.Name %></td>
									  <td><%- theater.Cinema.Name %></td>
										<td><%- theater.Category%></td>
										<td><%- theater.Width %></td>
										<td><%- theater.Height %></td>

										<td>
											<form method="GET" action="/theater/update/<%- theater.id %>">
												<button type="submit" class="btn btn-primary btn-circle btn-sm"><i
															class="fas fa-trash"></i>
												</button>
											</form>
										</td>
										<td>
											<form method="GET" action="/theater/delete/<%- theater.id %>">
												<button type="submit" class="btn btn-danger btn-circle btn-sm"><i
															class="fas fa-trash"></i>
												</button>
											</form>
										</td>
										<% }%>

									</tr>
								<% })%>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				
				</div>
	
				
				</div>
    </div>

    
    

