 

	<link rel="stylesheet" type="text/css" href="/theater/css/util.css">
	<link rel="stylesheet" type="text/css" href="/theater/css/main.css">
   <style>
	
	
	
	.wrapper {
				margin: 20% auto;
				width: 60%;
			}
			
			#displayImg {
				margin-top: 30px;
			}
			</style>

	<div class="container-contact100">
		
		<div class="wrap-contact100">
			<button style="height: 30px; width: 30px; margin-left: 0.2cm; margin-top: 0.2cm;" type="button" onclick="window.location.href='/theater'">X</button>
                 <center>
				<span class="contact100-form-title" style="color: #000022; font-weight: bold;font-size:45px">
					 Update Theater
				</span>
                </center>

			<form action="/theater/update/<%- theater.id -%>"  class="contact100-form validate-form" method="POST" > 
                
            

				<div class="mb-3">
                    <label for="cinema" class="form-label">Cinema</label>
                    <select  name="CinemaId" class="form-select">
						<% cinemas.forEach(function(cinema) { %>
							<option value="<%- cinema.id %>" <%- cinema.id === theater.CinemaId ? 'selected' : '' %>><%- cinema.Name %></option>
							<%})%>
                    </select>
             	</div>
				 
				 <div class="wrap-input100 validate-input bg0 rs1-alert-validate">
					<span class="label-input100">Name</span>
					<input class="input100" type="text" name="name" placeholder="<%- theater.Name %>">
				</div>

				<div class="mb-3"><label for="height" class="form-label">Height(A to Z)</label>
					<select class="form-select" aria-label="Default select example" id="height" name="height">
						<% for(var i = 69 ; i <= 80 ; i++) { %>
                            <option value="<%- String.fromCharCode(i) %>"  <%- theater.Height === String.fromCharCode(i) ? 'selected' : '' %>><%- String.fromCharCode(i) %></option>
						<%}%>
					  </select></div>
					
					  <div class="mb-3"><label for="height" class="form-label">Width(8 to 16)</label>
					<select class="form-select" aria-label="Default select example" name="width">
						<% for(var j = 10 ; j <= 16 ; j++) { %>
                            <option value="<%- j %>"<%- theater.Width === j ? 'selected' : '' %>><%- j %></option>
						<%}%>
					</select></div>

						  <div class="mb-3">
							<label for="category" class="form-label">category</label>
						  <select class="form-select" aria-label="Default select example" id="category" name="category">
                            <option value="2D" <%- theater.Category === '2D' ? 'selected' : '' %>>2D</option>
                            <option value="3D" <%- theater.Category === '3D' ? 'selected' : '' %>>3D</option>
                            <option value="4DX" <%- theater.Category === '4DX' ? 'selected' : '' %>>4DX</option>
							</select>     
							</div>

	
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            Submit
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    